APP_ENVIRONMENT=dev
APP__EMAIL__HOST=mail.example.com
APP__EMAIL__PORT=465
APP__EMAIL__TLS=true
APP__EMAIL__STARTTLS=no
APP__EMAIL__USER="username"
APP__EMAIL__PASSWORD="changeme"
APP__EMAIL__RECIPIENT="Recipient <user@example.com>"
APP__EMAIL__FROM="Contact Form <noreply@example.com>"
NUXT_PUBLIC_BACKEND_URL=http://localhost:3100
NUXT_PUBLIC_TURNSTILE_SITE_KEY="changeme"
NUXT_TURNSTILE_SECRET_KEY="changeme"
