body {
  margin: 3em;
}

body, code,p {
  background: #e5e9f0 !important;
  line-height: 1.4 !important;
  color: #2E3440;
  font-size: 16px !important;
}

blockquote, blockquote p {
    border-left-color: #3b4252;
}

pre {
    padding: 10px;
}
